.editor-wrap {
    width: 600px;
}


.maximized textarea {
    min-height: 94vh;
    resize: none;
}

textarea {
    width: 100%;
    box-shadow: var(--shadow);
    background-color: var(--background-600);

    margin-bottom: 1.25rem;
    min-height: 200px;
    resize: vertical;
    height: available;
    font-size: 0.875rem;
}


#editor:focus {
    outline: none !important;
}