@import url('https://fonts.googleapis.com/css?family=Russo+One');

:root {
    --background-200: #4aa3a3;
    --background-400: #86b4b5;
    --background-600: #c0d8d8;

    --light-accent: #2cda9d;
    --dark-accent: #224b4b;

    --shadow: 1px 1px 10px 2px var(--dark-accent);
    --default-border: 1px solid var(--dark-accent);
}

*, *::before, *::after { box-sizing: inherit; }

html { box-sizing: border-box; }

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    margin: 0;
    padding: 0;
    background-color: var(--background-400);
}

.hide {
    display: none;
}

.maximized {
    min-height: 94vh;
    margin: auto;
}