@import url('https://fonts.googleapis.com/css?family=Russo+One');

:root {
    --dark-accent: #4aa3a3;
    --light-accent: #c0d8d8;
    --background-base: #619e9e;

    --shadow: 1px 1px 10px 2px black;
    --default-border: 1px solid black;
}

*, *::before, *::after { box-sizing: inherit; }

html { box-sizing: border-box; }

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    margin: 0;
    padding: 0;
}
